
body{
    background-image: url(images/background.jpg);
    background-size: cover;
}

.container-box{
    display: flex;
    flex-direction: column;
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 800px;
	height: 400px;
    background: rgba(0, 0, 0, 0.5);
    padding: 2%;
    font-family: 'Noto Sans JP', sans-serif;
    color: white;
}

h1{
    align-self: flex-start;
    justify-self: center;
}

#character_options{
    display: flex;



}

#artifact_options{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}